<div class='col-lg-4' id='input-area'>

    <form class='col-lg-12' ng-submit="addItem()">
      <input class='col-xs-12'type="text" id='enter-item-input' placeholder="ENTER ITEM" ng-model="newItem"></input>

        <div id='select-container'>
            <span id='select-arrow'></span>
          <select class='col-xs-12' ng-model="listName">
            <option value="items">CHOOSE COLUMN</option>
            <option value="items" ng-cloak>{{column1name}}</option>
            <option value="otherItems" ng-cloak>{{column2name}}</option>
          </select>
        </div>

      <button class='col-xs-12' type="submit" id='add-item-button'>ADD ITEM</button>
    </form>

    <p id='search-an-item'>SEARCH AN ITEM</p>
    <div class='col-xs-12' id="search-container">
      <input class='col-xs-12'type="text" placeholder='SEARCH' id="search" ng-model="search">
      <span class="glyphicon glyphicon-search" id='search-img'></span>
    </div>
  </div>  <!-- input area -->

 <div class='col-lg-8' id='display-area'>
    <!-- Column container is used only to allow columns to remain the same size, when one is bigger. -->
    <div id='column-container'>
      <div class='col-lg-6 column' data-num='1' id='column-one'>
        <div class="column-title col-lg-12 column-gradient"><p contenteditable ng-cloak ng-model="column1name" ng-cloak>{{column1name}}</p></div>
        <div class='list'>
          <div id="listing-{{$index}}" ondragstart="drag(event)" data-column="1" class='listing animate' draggable='true' ng-repeat="item in lists[0].list | filter:search" >
            <span class="item-name" ng-cloak>{{item}}</span> <span class='remove-button' ng-click="deleteItem(lists[0].list, item)"></span>
          </div>
        </div>
      </div>


      <div class='col-lg-6 column' data-num='2' id='column-two'>
        <div class="column-title col-lg-12 column-gradient"><p ng-cloak>{{column2name}}</p></div>
        <div class='list'>
          <div id="listing2-{{$index}}" ondragstart="drag(event)" data-column="2" class='listing animate' draggable='true' ng-repeat="otherItem in lists[1].list | filter:search">
            <span class="item-name"  ng-cloak>{{otherItem}}</span> <span class='remove-button'  ng-click="deleteItem(lists[1].list, otherItem)"></span>
          </div>
        </div>
      </div>
    </div>
  </div>  <!-- display area -->