/*background #79818e*/
/*intro text #8cffee*/
/*enter item: #9aa1ab*/
/*column 1: #505d70*/
/*light item: #f2f3f5*/
/*dark item: bcc1c7 */

body {
	color: orange;
	font-family: 'helvetica', serif;
}

#page-container {
	background-image: url(./images/marvelous-skinny.jpg);
	background-repeat: no-repeat;
	height: 1000px;
	background-size: 760px;
	background-position: center;
}
#title {
    font-size: 4.2em;
    margin: 146px 0 12px -3px;
    font-family: 'Merriweather', serif;
}
#intro-paragraph {
	font-size: 1.3em;
	margin: 0 0 51px 0;
}

#add-an-item {
	background: #505d70;
	opacity: .7;
	height:45px;
	text-align: center;
	font-size: 1.4em;
	line-height: 45px;
}