/*background #79818e*/
/*intro text #8cffee*/
/*enter item: #9aa1ab*/
/*column 1: #505d70*/
/*light item: #f2f3f5*/
/*dark item: bcc1c7 */


/*********************************** General Styles  **********************************************/
#page-container {
	margin:auto;
}

body {
	color: white;
	font-family: 'helvetica', serif;
    background: #79818e ;
}

#title {
    font-size: 3.5em;
    margin: 8.4% 0 1.7% 0;
    font-family: 'Merriweather', serif;
    /*color: white;*/
    letter-spacing: 0.7px;
}
#intro-paragraph {
	font-size: 1.3em;
	margin: 0 0 15px 0;
	color: #8cffee;
}

#add-an-item {
	/*background: #505d70;*/
	height:36px;
    margin: 0 0 15px 0;
    color: white;
}
@media screen and (min-width: 1170px) { 
	#intro-paragraph {
	    font-size: 1.3em;
	    letter-spacing: -0.3px;
	    margin: 0 0 7.6% 0;
	    width: 61%;
	    line-height: 1.2em;
	}
	#page-container {
		width: 56%;

	}
}

#add-an-item p {
    text-align: center;
    font-size: 1em;
    line-height: 36px;
    font-weight: 600;
}


/*********************************** Input Area  **********************************************/


#input-area {
	box-sizing: border-box;
	padding: 0px;
}
@media screen and (min-width: 1170px) {
	#input-area {
		box-sizing: border-box;
		padding: 0px;
		width: 29.5%;
		height:418px;
	}
}
#input-area form {
	padding: 0;
}
#input-area button, #input-area select, #enter-item-input {
    height: 50px;
    border: 3px white solid;
    background: #9aa1ab;
}
#select-container {
	position: relative;
	clear: both;
}
#select-container select {
	/*background: url('images/arrow-down.png');*/
	background: #9aa1ab;
    background-repeat: no-repeat;
    background-position: 162px 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
/*#select-containery {
	position: relative;
	clear: both;
}
#select-containery button {
	background: #9aa1ab;
    background-repeat: no-repeat;
    background-position: 162px 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 50px;
    border: 3px white solid;
    background: #9aa1ab;
}*/
.caret {
	color: white;
}

#select-arrow {
    position: absolute;
    right: 9px;
    top: 20px;
    width: 18px;
    pointer-events: none;
    height: 10px;
    z-index: 1;
    background: url('images/arrow-down.png') no-repeat;
}

#enter-item-input {
    margin: 0 0 14px 0;
    color: white;
    background: #9aa1ab;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}
#input-area select {
    margin-bottom: 15px;
}

@media screen and (min-width: 1170px) { 
	#input-area select {
	    margin-bottom: 113px;
	}
}

#input-area button {
	margin-bottom: 32px;
	background: #505d70;
}

#search-an-item {
	font-size: 0.8em;
	letter-spacing: 0.7px;
	margin-bottom: 7px;
}
#search-container { 
	position:relative; 
	padding:0; 
	margin:0; 

}

#search { 
	height:20px; 
	margin:0; 
	padding-left: 14%; 
	height: 36px;
	background: #9aa1ab;
	border: white 3px solid;
}

#search-img {
    position: absolute;
    right: 6%;
    top: 11px;
}
/*********************************** Display Area  **********************************************/

#display-area {
	box-sizing: border-box;
	background: white;
	padding: 2px;
    margin-left: 1.7%;
    margin-top: 50px;
}
#column-container {
	overflow: hidden;
}
.column {
	padding: 0;
	margin: .5%;
		margin-bottom: -99999px;
		padding-bottom: 99999px;
}
@media screen and (min-width: 1170px) {
	
	.column {
	    width: 49%;
	    min-height: 354px;
	    background: #79818e;
	}
	#display-area {
		min-height: 367px;
		width: 68.666%;
		margin-top: 0px;
	}
	.list {
		margin-top: 44px;
	}
	#column-container {
	    min-height: 354px;
	}
}

.column-title {
    height: 44px;
    background: #505d70;
    position: relative;
}
.column-title p {
	line-height: 40px;
	text-align: center;
	color: white;
}

.listing {
	height: 44px;
	color: #bcc1c7;
	position: relative;
	overflow: hidden;
}


.list .listing:nth-child(odd) {
	color: #79818e;
	background: #f2f3f5;
}
.list .listing:nth-child(even) {
	color: #f2f3f5;
	background: #bcc1c7;
}


.item-name {
    line-height: 44px;
    margin: 8%;
    font-size: 1.2em;
}
.remove-button {
    position: absolute;
    height: 22px;
    width: 22px;
    right: 11px;
    top: 11px;
    background-size: 22px 22px;
    background-repeat: no-repeat;
}
.list .listing:nth-child(even) .remove-button {
    background-image: url('images/white-x.png');
}
.list .listing:nth-child(odd) .remove-button {
    background-image: url('images/grey-x.png');
}

.column-gradient {
    background: -webkit-linear-gradient(#acbbce, #545f73); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#acbbce, #545f73); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#acbbce, #545f73); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#acbbce, #545f73); /* Standard syntax (must be last) */
}
/*********************************** Dev styles **********************************************/


/*#add-an-item, #input-area button, #input-area select, #enter-item-input, #enter-item-input, #input-area button,#search, .column, .column-title, .list .listing, .listing:nth-child(odd), .list .listing:nth-child(even){
	opacity: 0.5;
	color:orange;
}
#intro-paragraph, body, #title, #add-an-item, #enter-item-input, ::-webkit-input-placeholder {
	color: orange;
}
:-moz-placeholder, :-ms-input-placeholder {
	color:orange;
}*/

/*#input-area, #search-container, #display-area {
	outline: 5px solid pink;
}*/
/*.column, .listing, #input-area button, #input-area select, #enter-item-input, #add-an-item, #search-container {
	outline: 2px solid red;
}
*//*.container {
	background-image: url(./images/marvelous-skinnier.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: 55%;
	background-position-y: 50px;
}*/
/*#page-container {
	height: 1000px;
	background-size: 100%;
	background-position-y: -20px;
}*/
/*.list .listing:nth-child(odd),.list .listing:nth-child(even), .column, .column-container, .column-title, #display-area {
	background: none;
	opacity: 1;
}*/
/*#page-container * {
	display: none;
}
*/
.animate.ng-enter, 
.animate.ng-leave { 
    -webkit-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 
 
.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    height: 0px;
    opacity: 0;
}
 
.animate.ng-enter.animate.ng-enter-active,
.animate.ng-leave {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
    height: 30px;
    opacity: 1;
}