/*background #79818e*/
/*intro text #8cffee*/
/*enter item: #9aa1ab*/
/*column 1: #505d70*/
/*light item: #f2f3f5*/
/*dark item: bcc1c7 */

/*********************************** Dev styles **********************************************/

#input-area, #search-container, #display-area {
	/*outline: 5px solid pink;*/

}
.column, .listing {
	/*outline: 1px solid red;*/
}
/*********************************** General Styles  **********************************************/


body {
	color: orange;
	font-family: 'helvetica', serif;
    background: #79818e ;
}

#page-container {
	/*background-image: url(./images/marvelous-skinny.jpg);*/
	background-repeat: no-repeat;
	height: 1000px;
	background-size: 760px;
	background-position: center;
}
#title {
    font-size: 4.2em;
    margin: 146px 0 12px -3px;
    font-family: 'Merriweather', serif;
}
#intro-paragraph {
	font-size: 1.3em;
	margin: 0 0 51px 0;
}

#add-an-item {
	background: #505d70;
	/*opacity*/: .7;
	height:45px;
    margin: 0 0 15px 0;

}
#add-an-item p{
	text-align: center;
	font-size: 1.4em;
	line-height: 45px;
}


/*********************************** Input Area  **********************************************/
#input-area {
	box-sizing: border-box;
	padding: 0px;
	width: 29%;
	height:418px;
}
#input-area form {
	padding: 0;
}
#input-area button, #input-area select, #enter-item-input {
    height: 55px;
    /*opacity*/: .5;
    border: 3px white solid;
}

#enter-item-input {
    margin: 0 0 14px 0;
}
#input-area select {
    margin-bottom: 127px;
}
#input-area button {
	margin-bottom: 47px;
	background: #505d70;
}

#search-container { 
	position:relative; 
	padding:0; 
	margin:0; 
}
#search { 
	height:20px; 
	margin:0; 
	padding-left: 30px; 
	height: 36px;
}

#search-img { 
	position:absolute; 
	right: 5px; 
}
/*********************************** Display Area  **********************************************/

#display-area {
	box-sizing: border-box;
	background: white;
	 min-height: 418px;
    /*opacity: .7;*/
	padding: 5px;
    margin-left: 15px;
    width: 68.666%;
}
.column {
	padding: 0;
	margin: .3%;
    width: 49%;
}
.column-title {
    height: 50px;
    background: #505d70;
    /*opacity*/: 0.2;
    position: relative;
}
.column-title p {
	line-height: 50px;
	text-align: center;
	color: white;
}
.list {
}
.listing {
	height: 50px;
	color: #bcc1c7;
}
.list .listing:nth-child(odd) {
	color: white;
	background: #bcc1c7;
}

.item-name {
    line-height: 50px;
    margin: 20px;
    font-size: 1.2em;
}
.remove-button {
	margin-left: 120px;
}