<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Marvelous</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="app.js"></script>

    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<link href='https://fonts.googleapis.com/css?family=Merriweather:700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="app.css">
  </head>
  <body ng-app="marvelous">
    <div class='container' ng-controller="MainCtrl"  >
      <div class='row col-md-8 col-md-offset-2' id='page-container' class='col-md-12' >
          <h1 id='title'>{{title}}</h1>
          <p id='intro-paragraph'>Lorem Ipsum is simply dummy text of the printing <br>
          and typesetting industry. Lorem Ipsum has been <br>
          the industry's standard dummy text ever since.</p>
          
          <div id='add-an-item'><p >ADD AN ITEM</p></div>

    <div class='col-md-4' id='input-area'>

          <form class='col-md-12'>
            <input class='col-md-12'type="text" id='enter-item-input' placeholder="ENTER ITEM"></input>
            <select class='col-md-12'>
              <option value="items">CHOOSE COLUMN</option>
              <option value="items">items</option>
              <option value="otherItems">other items</option>
            </select>
            <button class='col-md-12' type="submit" id='add-item-button'>ADD ITEM</button>
          </form>

          <p>SEARCH AN ITEM</p>
          <div class='col-md-12' id="search-container">
            <input class='col-md-12'type="text" placeholder='SEARCH' id="search" value>
            <span class="glyphicon glyphicon-search" id='search-img'></span>
          </div>

        </div>  <!-- input area -->

       <div class='col-md-8' id='display-area'>
          <div class='col-md-6 column'>
            <div class="column-title col-md-12"><p>{{column1name}}</p></div>
            <div class='list'>
              <div class='listing' ng-repeat="item in items" >
                <span>{{item}}</span> <span class='glyphicon glyphicon-remove'></span>
              </div>
            </div>
          </div>
          <div class='col-md-6 column'>
            <div class="column-title col-md-12"><p>{{column2name}}</p></div>
            <div class='list'>
              <div class='listing' ng-repeat="otherItem in otherItems">
                <span>{{otherItem}}</span> <span class='glyphicon glyphicon-remove'></span>
              </div>
            </div>
          </div>
        </div>  <!-- display area -->


      </div>  <!-- row -->
    </div> <!-- .container -->

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

  </body>
</html>